﻿@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>About Me: Jimmy Parker</h1>
<p>
    Please visit my bio page here: <a href="../../../bio.html">"My Biography"</a>

</p>